// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.
@use 'sass:color';
@use '../mastodon/functions' as *;
@use '../mastodon/variables' as *;

// admin.scss
.admin-wrapper {
  .sidebar-wrapper {
    &__inner {
      background: $ui-base-color;
    }
  }

  .sidebar {
    &__toggle {
      background: darken($ui-base-color, 4%);
    }

    ul {
      a {
        &:hover {
          background-color: darken($ui-base-color, 5%);
        }
      }

      ul {
        background: darken($ui-base-color, 4%);
      }

      .simple-navigation-active-leaf a {
        color: $primary-text-color;
        background-color: $ui-highlight-color;
      }
    }
  }

  .content {
    &__heading {
      &__tabs {
        a {
          &.selected {
            &:hover,
            &:focus,
            &:active {
              background: lighten($ui-highlight-color, 4%);
            }
          }
        }
      }
    }

    h4 {
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }

    hr {
      border-bottom: 1px solid rgba($ui-base-lighter-color, 0.6);
    }
  }

  @media screen and (max-width: $no-columns-breakpoint) {
    .sidebar {
      & > ul {
        &.visible {
          background: $ui-base-color;
        }
      }

      ul a,
      ul ul a {
        border-bottom: 1px solid lighten($ui-base-color, 4%);
      }
    }
  }
}

.log-entry {
  background: $ui-base-color;
  border-left: inherit;
  border-right: inherit;
  border-bottom: 1px solid darken($ui-base-color, 8%);

  &:first-child {
    border-top: inherit;
  }

  &:last-child {
    border-bottom: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-base-color, 4%);
  }
}

.report-card {
  background: $ui-base-color;

  &__profile {
    &__stats {
      a {
        &:focus,
        &:hover,
        &:active {
          color: lighten($darker-text-color, 8%);
        }
      }
    }
  }

  &__summary {
    &__item {
      border-top: 1px solid darken($ui-base-color, 4%);

      &:hover {
        background: lighten($ui-base-color, 2%);
      }

      &__content {
        &__icon {
          color: $dark-text-color;
        }
      }
    }
  }
}

.admin-account-bio {
  .account__header__fields,
  .account__header__content {
    background: lighten($ui-base-color, 8%);
  }

  a {
    color: lighten($ui-highlight-color, 8%);
  }
}

.applications-list__item,
.filters-list__item {
  background: $ui-base-color;
  border: 1px solid lighten($ui-base-color, 4%);
}

.announcements-list,
.filters-list {
  border: 1px solid lighten($ui-base-color, 4%);

  &__item {
    background: $ui-base-color;
    border-bottom: 1px solid lighten($ui-base-color, 4%);
  }
}

.retention {
  &__table {
    &__number {
      color: $secondary-text-color;
    }

    &__box {
      background: $ui-highlight-color;
    }
  }
}

.sparkline {
  background: lighten($ui-base-color, 4%);
}

a.sparkline {
  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-base-color, 6%);
  }
}

.skeleton {
  background-color: lighten($ui-base-color, 8%);
}

.report-reason-selector {
  background: $ui-base-color;
}

.report-header {
  &__details {
    &__item {
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }
  }
}

.account-card {
  border: 1px solid lighten($ui-base-color, 8%);

  &__bio {
    &::after {
      background: linear-gradient(to left, $ui-base-color, transparent);
    }
  }
}

.report-notes {
  &__item {
    background: $ui-base-color;
    border: inherit;
    border-bottom: 1px solid darken($ui-base-color, 8%);

    &:hover {
      background-color: lighten($ui-base-color, 4%);
    }
  }
}

.strike-card {
  background: $ui-base-color;

  &__statuses-list {
    border: 1px solid darken($ui-base-color, 8%);

    &__item {
      background: lighten($ui-base-color, 2%);
      border-bottom: 1px solid darken($ui-base-color, 8%);
    }
  }
}

// basics.scss
body {
  &.admin {
    background: darken($ui-base-color, 4%);
  }
}

// components.scss
.layout-single-column .ui__header {
  display: none;
}

.ui__header {
  display: none;
}

.button {
  background-color: $ui-highlight-color;
  transition: all 100ms ease-in;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 10%);
    transition: all 200ms ease-out;
  }

  &--destructive {
    transition: none;
  }

  &.button-secondary {
    color: $ui-button-secondary-color;
    border: 1px solid $ui-button-secondary-border-color;

    &:active,
    &:focus,
    &:hover {
      border-color: $grey-600;
      color: $ui-button-secondary-focus-color;
      background-color: $grey-600;
    }
  }
}

.button .confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  background-color: transparent;
}

.autosuggest-textarea {
  &__suggestions {
    background: $ui-secondary-color;
    border: 1px solid darken($ui-secondary-color, 8%);
    color: $inverted-text-color;

    &__item {
      color: $inverted-text-color;

      &:hover,
      &:focus,
      &:active,
      &.selected {
        background: darken($ui-secondary-color, 10%);
        color: $inverted-text-color;

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }

      &.selected {
        background: darken($ui-secondary-color, 10%);
        color: $inverted-text-color;
      }
    }
  }
}

.status__content,
.edit-indicator__content,
.reply-indicator__content {
  a.unhandled-link {
    color: lighten($ui-highlight-color, 8%);
  }

  a {
    &.unhandled-link {
      color: lighten($ui-highlight-color, 8%);
    }
  }
}

.status__content__read-more-button,
.status__content__translate-button {
  color: lighten($ui-highlight-color, 8%);
}

.floating-action-button {
  background: darken($ui-highlight-color, 3%);

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-highlight-color, 7%);
  }
}

.timeline-hint {
  a {
    color: lighten($ui-highlight-color, 8%);

    &:hover,
    &:focus,
    &:active {
      color: lighten($ui-highlight-color, 12%);
    }
  }
}

.columns-area--mobile {
  background: lighten($ui-base-color, 13%);
}

.compose-form {
  &__highlightable {
    border: 1px solid darken($simple-background-color, 8%);
    background: darken($simple-background-color, 8%);
  }

  .spoiler-input {
    .autosuggest-input {
      border-bottom: 1px solid darken($simple-background-color, 8%);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $inverted-text-color;
    background: $simple-background-color;
  }
}

.spoiler-input__input {
  background: darken($simple-background-color, 4%);
  color: darken($inverted-text-color, 4%);
}

.character-counter {
  color: $lighter-text-color;
}

.focusable {
  &:focus {
    background: var(--modal-border-color);
  }
}

.status__wrapper-direct,
.notification-ungrouped--direct,
.notification-group--direct,
.notification-group--annual-report {
  background: color.mix($ui-base-color, $ui-highlight-color, 95%);

  &:focus {
    background: color.mix(lighten($ui-base-color, 4%), $ui-highlight-color, 95%);
  }
}

.detailed-status {
  background: var(--background-drawer-color);
}

.detailed-status__meta {
  &__line {
    border-bottom: 1px solid var(--background-border2-color);
  }
}

.detailed-status__action-bar {
  background: var(--background-drawer-color);
  border-top: 1px solid var(--background-border2-color);
  border-bottom: 1px solid var(--background-border2-color);
}

.tabs-bar__wrapper {
  background: darken($ui-base-color, 8%);
}

.column {
  > .scrollable {
    background: $ui-base-color;
    border: inherit;
    border-top: 0;
    border-radius: 0 0 4px 4px;

    &.about,
    &.privacy-policy {
      border-top: inherit;
      border-radius: inherit;
    }
  }
}

.ui__navigation-bar {
  background: $ui-base-color;
}

@media screen and (width <= 759px) {
  .columns-area__panels__pane--navigational .columns-area__panels__pane__inner {
    background: $ui-base-color;
  }
}

.navigation-panel {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;

  &__menu {
    background: $ui-base-color;

    a {
      &:hover {
        background: lighten($ui-base-color, 8%);
      }
    }
  }

  &__compose-button {
    color: $primary-text-color;
    background: transparent;
    text-decoration: none;
  }

  &__logo {
    margin-bottom: 0px;
    border-bottom: 1px solid var(--background-border-color);
  }
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  .columns-area__panels__pane--navigational {
    .navigation-panel {
      background: $ui-base-color;
    }
  }

  .layout-single-column .ui__header {
    background: $ui-base-color;
  }
}

.icon-with-badge {
  &__badge {
    border: 2px solid var(--background-border2-color);
  }
}

.navigation-panel,
.compose-panel {
  hr {
    border-top: 1px solid var(--modal-border-color);
  }
}

.drawer__pager {
  border: inherit;
  border-radius: 4px;
}

.drawer__inner {
  background: $ui-base-color;
}

.drawer__inner__mastodon {
  background: $ui-base-color;
}

.drawer__header {
  background: var(--surface-background-color);
  border: inherit;
  border-radius: 4px;

  a:hover,
  a:focus,
  a:active {
    color: inherit;
    background: $ui-base-color;
  }
}

.column-back-button {
  background: $ui-base-color;
}

.column-header__back-button {
  background: $ui-base-color;
}

.column-link {
  background: var(--background-border-color);
  color: $primary-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $primary-text-color;
    background: lighten($ui-base-color, 11%);
  }

  &--transparent {
    background: transparent;
    color: $secondary-text-color;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $primary-text-color;
    }

    &.active {
      color: $ui-highlight-color;
    }
  }

  &--logo {
    background: $ui-base-color;

    &:hover,
    &:focus {
      background: lighten($ui-base-color, 8%);
    }

    &:active {
      background: transparent;
    }
  }
}

.column-subheading {
  background: $ui-base-color;
  color: $dark-text-color;
}

.dialog-modal__content__preview {
  background: darken($ui-base-color, 10%);
}

.regeneration-indicator {
  color: $dark-text-color;
  background: $ui-base-color;
}

.column-header {
  background: $ui-base-color;
  border: inherit;
  border-bottom: 1px solid var(--background-border2-color);
}

.column-header__button {
  background: $ui-base-color;

  &.active {
    background: var(--background-drawer-color);
  }
}

.column-header__collapsible-inner {
  background: $ui-base-color;
}

.account--panel {
  background: var(--background-drawer-color);
}

.empty-column-indicator,
.follow_requests-unlocked_explanation {
  background: $ui-base-color;
}

.follow_requests-unlocked_explanation {
  background: var(--background-color);
}

.error-column {
  background: $ui-base-color;
}

.emoji-picker-dropdown__menu {
  background: $simple-background-color;
}

.upload-progress {
  color: $lighter-text-color;
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  background: $simple-background-color;
}

.privacy-dropdown__option {
  color: $inverted-text-color;

  &:hover,
  &:active {
    background: $ui-secondary-color;
  }

  &:focus,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;
  }
}

.privacy-dropdown__option__content {
  color: $lighter-text-color;

  strong {
    color: $inverted-text-color;
  }
}

.language-dropdown {
  &__dropdown {
    .emoji-mart-search {
      background: $simple-background-color;

      input {
        background: rgba($ui-secondary-color, 0.3);
        border: 1px solid $ui-secondary-color;
        color: $inverted-text-color;
      }
    }

    .emoji-mart-scroll {
      background: $simple-background-color;
    }

    &__results {
      &__item {
        color: $inverted-text-color;

        &:active,
        &:hover {
          background: $ui-secondary-color;
        }
      }
    }
  }
}

.search-results__section {
  &__header {
    background: var(--background-color);
  }
}

.explore__search-results {
  article {
    background: $ui-base-color;
  }
}

.report-dialog-modal {
  background: lighten($ui-secondary-color, 8%);
  color: $inverted-text-color;
  border-radius: 8px;

  &__container {
    border-top: 1px solid $ui-secondary-color;
  }

  &__lead {
    color: lighten($inverted-text-color, 16%);
  }

  &__textarea {
    color: $inverted-text-color;
    background: $simple-background-color;

    &::placeholder {
      color: $dark-text-color;
    }
  }

  .status__content,
  .status__content p {
    color: $inverted-text-color;
  }

  .poll__option.dialog-option {
    border-bottom: 1px solid $ui-secondary-color;

    & > .poll__option__text {
      border-bottom: 1px solid $ui-secondary-color;
      color: lighten($inverted-text-color, 16%);

      strong {
        color: $inverted-text-color;
      }
    }

    .button.button-secondary {
      border-color: $inverted-text-color;
      color: $inverted-text-color;

      &:hover,
      &:focus,
      &:active {
        background: transparent;
        border-color: $ui-button-background-color;
        color: $ui-button-background-color;
      }
    }
  }
}

.boost-modal,
.report-modal,
.actions-modal,
.compare-history-modal {
  background: $ui-base-color;
}

.audio-player {
  background: darken($ui-base-color, 8%);
}

.notification__filter-bar,
.account__section-headline {
  background: $ui-base-color;
  border: inherit;
  border-bottom: 1px solid var(--background-border2-color);
}

.filter-form {
  background: $ui-base-color;
  border-bottom: inherit;
}

.radio-button,
.check-box {
  &__input {
    &.checked,
    &.indeterminate {
      border-color: lighten($ui-highlight-color, 8%);
    }
  }
}

.radio-button.checked::before {
  background: lighten($ui-highlight-color, 8%);
}

.check-box {
  &.checked,
  &.indeterminate {
    border-color: lighten($ui-highlight-color, 8%);
  }
}

.follow-request-banner,
.account-memorial-banner {
  background: var(--background-drawer-color);
}

.column-inline-form {
  background: var(--background-drawer-color);
  border: inherit;

  &__bio {
    .account__header__fields {
      background: var(--surface-background-color);
      border: 0;
    }
  }
}

.about {
  &__meta {
    background: var(--background-drawer-color);
    border: inherit;
    border-radius: 4px;
  }

  &__section {
    &__title {
      background: var(--background-drawer-color);
      border: inherit;
      border-radius: 4px;
    }

    &__body {
      border: 1px solid var(--modal-border-color);
    }
  }

  &__domain-blocks {
    background: var(--surface-background-color);
    border: 1px solid var(--modal-border-color);

    &__domain {
      border-bottom: 1px solid var(--modal-border-color);

      &:nth-child(2n) {
        background: darken($ui-base-color, 2%);
      }
    }
  }
}

// dashboard.scss
.dashboard__counters {
  & > div {
    & > div,
    & > a {
      background: lighten($ui-base-color, 4%);
    }

    & > a {
      &:hover,
      &:focus,
      &:active {
        background: lighten($ui-base-color, 8%);
      }
    }
  }
}

.dashboard {
  &__quick-access {
    background: $ui-highlight-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 10%);
    }
  }
}

// emoji_picker.scss
.emoji-mart-bar {
  &:first-child {
    background: $ui-secondary-color;
  }
}

.emoji-mart-anchor {
  color: $lighter-text-color;

  &:hover {
    color: darken($lighter-text-color, 4%);
  }
}

.emoji-mart-anchor-selected {
  &:hover {
    color: darken($highlight-text-color, 4%);
  }
}

.emoji-mart-search {
  input {
    background: rgba($ui-secondary-color, 0.3);
    border: 1px solid $ui-secondary-color;
    color: $inverted-text-color;
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $action-button-color;
  }
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover::before {
    background-color: rgba($ui-secondary-color, 0.7);
  }
}

.emoji-mart-category-label {
  span {
    color: $inverted-text-color;
  }
}

.emoji-mart-no-results {
  color: $light-text-color;
}

// forms.scss
.simple_form {
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='datetime-local'],
  textarea {
    background: darken($ui-base-color, 10%);
    border: 1px solid darken($ui-base-color, 10%);
  }

  button:not(.button, .link-button) {
    background: $ui-highlight-color;

    &:hover {
      background-color: lighten($ui-highlight-color, 5%);
    }

    &:active,
    &:focus {
      background-color: darken($ui-highlight-color, 5%);
    }
  }

  select {
    background: darken($ui-base-color, 10%)
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 12%))}'/></svg>")
    no-repeat right 8px center / auto 14px;
    border: 1px solid darken($ui-base-color, 14%);
  }
}

.flash-message {
  background: lighten($ui-base-color, 8%);
  color: $darker-text-color;
  border: inherit;
  border-radius: 4px;
}

// polls.scss
.poll {
  &__option {
    input[type='text'] {
      color: $inverted-text-color;
      background: $simple-background-color;
      border: 1px solid darken($simple-background-color, 14%);

      &:focus {
        border-color: $highlight-text-color;
      }
    }
  }
}

// tables.scss
.table {
  th,
  td {
    background: darken($ui-base-color, 4%);
  }

  & > tbody > tr:nth-child(odd) > td,
  & > tbody > tr:nth-child(odd) > th {
    background: $ui-base-color;
  }

  a {
    color: $highlight-text-color;
    text-decoration: underline;
  }

  &.batch-table {
    & > thead > tr > th {
      background: $ui-base-color;
      border-top: 1px solid darken($ui-base-color, 8%);
      border-bottom: 1px solid darken($ui-base-color, 8%);

      &:first-child {
        border-inline-start: 1px solid darken($ui-base-color, 8%);
      }

      &:last-child {
        border-inline-end: 1px solid darken($ui-base-color, 8%);
      }
    }
  }
}

button.table-action-link,
a.table-action-link {
  &:hover {
    color: $primary-text-color;
  }
}

.batch-table {
  &__toolbar {
    border: 1px solid darken($ui-base-color, 8%);
    background: $ui-base-color;
    border-radius: 4px 0 0;
  }

  &__select-all {
    background: $ui-base-color;
    border: 1px solid darken($ui-base-color, 8%);
  }

  &__form {
    border: 1px solid darken($ui-base-color, 8%);
    background: $ui-base-color;
  }

  &__row {
    border: 1px solid darken($ui-base-color, 8%);
    background: $ui-base-color;
  }

  .nothing-here {
    border: 1px solid darken($ui-base-color, 8%);
    background: $ui-base-color;

    @media screen and (max-width: $no-gap-breakpoint) {
      border-top: 1px solid darken($ui-base-color, 8%);
    }
  }
}

// widgets.scss
.directory {
  background: $ui-base-color;

  &__tag {
    & > a,
    & > div {
      background: $ui-base-color;
      border: inherit;
      border-radius: 4px;
    }

    & > a {
      &:hover,
      &:active,
      &:focus {
        background: lighten($ui-base-color, 8%);
      }
    }
  }
}

.accounts-table {
  tbody td.accounts-table__extra {
    a {
      &:focus,
      &:hover,
      &:active {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
