// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.

// admin.scss
.admin-account-bio {
  a {
    color: lighten($ui-highlight-color, 8%);
  }
}

// components.scss
.layout-single-column .ui__header {
  display: none;
}

.ui__header {
  display: none;
}

.button {
  background-color: $ui-highlight-color;
  transition: all 100ms ease-in;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 10%);
    transition: all 200ms ease-out;
  }

  &--destructive {
    transition: none;
  }

  &.button-secondary {
    color: $ui-button-secondary-color;
    border: 1px solid $ui-button-secondary-border-color;

    &:active,
    &:focus,
    &:hover {
      border-color: $ui-button-secondary-focus-background-color;
      color: $ui-button-secondary-focus-color;
      background-color: $ui-button-secondary-focus-background-color;
    }
  }
}

.button .confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  background-color: transparent;
}

.autosuggest-textarea {
  &__suggestions {
    background: $ui-secondary-color;
    border: 1px solid darken($ui-secondary-color, 8%);
    color: $inverted-text-color;

    &__item {
      color: $inverted-text-color;

      &:hover,
      &:focus,
      &:active,
      &.selected {
        background: darken($ui-secondary-color, 10%);
        color: $inverted-text-color;

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }
    }
  }
}

.status__content,
.reply-indicator__content {
  a.unhandled-link {
    color: lighten($ui-highlight-color, 8%);
  }

  a {
    &.unhandled-link {
      color: lighten($ui-highlight-color, 8%);
    }
  }
}

.status__content__read-more-button {
  color: lighten($ui-highlight-color, 8%);
}

.floating-action-button {
  background: darken($ui-highlight-color, 3%);

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-highlight-color, 7%);
  }
}

.timeline-hint {
  a {
    color: lighten($ui-highlight-color, 8%);

    &:hover,
    &:focus,
    &:active {
      color: lighten($ui-highlight-color, 12%);
    }
  }
}

.radio-button,
.check-box {
  &__input {
    &.checked {
      border-color: lighten($ui-highlight-color, 8%);
    }

    &::before {
      background: lighten($ui-highlight-color, 8%);
    }
  }
}

.columns-area--mobile {
  background: lighten($ui-base-color, 13%);
}

.compose-form {
  &__highlightable {
    border: 1px solid darken($simple-background-color, 8%);
    background: darken($simple-background-color, 8%);
  }

  .spoiler-input {
    .autosuggest-input {
      border-bottom: 1px solid darken($simple-background-color, 8%);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $inverted-text-color;
    background: $simple-background-color;
  }
}

.character-counter {
  color: $lighter-text-color;
}

.focusable {
  &:focus {
    background: var(--modal-border-color);
  }
}

.status__wrapper-direct {
  background: mix($ui-base-color, $ui-highlight-color, 95%);

  &:focus {
    background: mix(lighten($ui-base-color, 4%), $ui-highlight-color, 95%);
  }
}

.detailed-status {
  background: var(--background-drawer-color);
}


.detailed-status__action-bar {
  background: var(--background-drawer-color);
}

.tabs-bar__wrapper {
  background: darken($ui-base-color, 8%);
}

.column {
  > .scrollable {
    background: $ui-base-color;
    border: inherit;
    border-top: 0;
    border-radius: 0 0 4px 4px;

    &.about,
    &.privacy-policy {
      border-top: inherit;
      border-radius: inherit;
    }
  }
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  .columns-area__panels__pane--navigational {
    .navigation-panel {
      background: $ui-base-color;
    }
  }

  .layout-single-column .ui__header {
    background: $ui-base-color;
  }
}

.icon-with-badge {
  &__badge {
    border: 2px solid var(--background-border-color);
  }
}

.navigation-panel,
.compose-panel {
  hr {
    border-top: 1px solid var(--modal-border-color);
  }
}

.drawer__pager {
  border: inherit;
  border-radius: 4px;
}

.drawer__inner {
  background: $ui-base-color;
}

.drawer__inner__mastodon {
  background: $ui-base-color;
}

.drawer__header {
  background: var(--surface-background-color);
  border: inherit;
  border-radius: 4px;

  a:hover,
  a:focus,
  a:active {
    color: inherit;
    background: $ui-base-color;
  }
}

.column-back-button {
  background: $ui-base-color;
}

.column-header__back-button {
  background: $ui-base-color;
}

.column-link {
  background: var(--background-border-color);
  color: $primary-text-color;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    background: lighten($ui-base-color, 11%);
  }

  &--transparent {
    background: transparent;
    color: $secondary-text-color;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $primary-text-color;
    }

    &.active {
      color: $ui-highlight-color;
    }
  }
}

.column-subheading {
  background: $ui-base-color;
  color: $dark-text-color;
}

.regeneration-indicator {
  background: $ui-base-color;
}

.column-header {
  background: $ui-base-color;
  border: inherit;
  border-bottom: 1px solid var(--background-border-color);
}

.column-header__button {
  background: $ui-base-color;

  &.active {
    background: var(--background-drawer-color);
  }
}

.column-header__collapsible-inner {
  background: $ui-base-color;
}

.account--panel {
  background: var(--background-drawer-color);
}

.empty-column-indicator,
.follow_requests-unlocked_explanation {
  background: $ui-base-color;
}

.follow_requests-unlocked_explanation {
  background: var(--background-color);
}

.error-column {
  background: $ui-base-color;
}

.emoji-picker-dropdown__menu {
  background: $simple-background-color;
}

.upload-progress {
  color: $lighter-text-color;
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  background: $simple-background-color;
}

.privacy-dropdown__option {
  color: $inverted-text-color;

  &:hover,
  &:active {
    background: $ui-secondary-color;
  }

  &:focus,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;
  }
}

.privacy-dropdown__option__content {
  color: $lighter-text-color;

  strong {
    color: $inverted-text-color;
  }
}

.language-dropdown {
  &__dropdown {
    .emoji-mart-search {
      background: $simple-background-color;

      input {
        background: rgba($ui-secondary-color, 0.3);
        border: 1px solid $ui-secondary-color;
        color: $inverted-text-color;
      }
    }

    .emoji-mart-scroll {
      background: $simple-background-color;
    }

    &__results {
      &__item {
        color: $inverted-text-color;

        &:active,
        &:hover {
          background: $ui-secondary-color;
        }
      }
    }
  }
}

.search-results__section {
  &__header {
    background: var(--background-color);
  }
}

.notification__filter-bar,
.account__section-headline {
  background: $ui-base-color;
  border: inherit;
  border-bottom: 1px solid var(--background-border-color);
}

.filter-form {
  background: $ui-base-color;
  border-bottom: inherit;
}

.follow-request-banner,
.account-memorial-banner {
  background: var(--background-drawer-color);
}

.column-inline-form {
  background: var(--background-drawer-color);
  border: inherit;

  &__bio {
    .account__header__fields {
      background: var(--surface-background-color);
      border: 0;
    }
  }
}

.about {
  &__meta {
    background: var(--background-drawer-color);
    border: inherit;
    border-radius: 4px;
  }

  &__section {
    &__title {
      background: var(--background-drawer-color);
      border: inherit;
      border-radius: 4px;
    }

    &__body {
      border: 1px solid var(--modal-border-color);
    }
  }

  &__domain-blocks {
    background: var(--surface-background-color);
    border: 1px solid var(--modal-border-color);

    &__domain {
      border-bottom: 1px solid var(--modal-border-color);

      &:nth-child(2n) {
        background: darken($ui-base-color, 2%);
      }
    }
  }
}

// dashboard.scss
.dashboard {
  &__quick-access {
    background: $ui-highlight-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 10%);
    }
  }
}

// emoji_picker.scss
.emoji-mart-bar {
  &:first-child {
    background: $ui-secondary-color;
  }
}

.emoji-mart-anchor {
  color: $lighter-text-color;

  &:hover {
    color: darken($lighter-text-color, 4%);
  }
}

.emoji-mart-anchor-selected {
  &:hover {
    color: darken($highlight-text-color, 4%);
  }
}

.emoji-mart-search {
  input {
    background: rgba($ui-secondary-color, 0.3);
    border: 1px solid $ui-secondary-color;
    color: $inverted-text-color;
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $action-button-color;
  }
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover::before {
    background-color: rgba($ui-secondary-color, 0.7);
  }
}

.emoji-mart-category-label {
  span {
    color: $inverted-text-color;
  }
}

.emoji-mart-no-results {
  color: $light-text-color;
}

// forms.scss
.simple_form {
  button,
  .button,
  .block-button {
    background: $ui-highlight-color;

    &:hover {
      background-color: lighten($ui-highlight-color, 5%);
    }

    &:active,
    &:focus {
      background-color: darken($ui-highlight-color, 5%);
    }
  }
}

// polls.scss
.poll {
  &__option {
    input[type='text'] {
      color: $inverted-text-color;
      background: $simple-background-color;
      border: 1px solid darken($simple-background-color, 14%);

      &:focus {
        border-color: $highlight-text-color;
      }
    }
  }
}
