// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.

// admin.scss
.admin-account-bio {
  a {
    color: lighten($ui-highlight-color, 8%);
  }
}

// components.scss
.layout-single-column .ui__header {
  display: none;
}

.ui__header {
  display: none;
}

.tabs-bar__wrapper {
  top: inherit;
}

.button {
  background-color: $ui-highlight-color;
  transition: all 100ms ease-in;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 10%);
    transition: all 200ms ease-out;
  }

  &--destructive {
    transition: none;
  }
}

.button .confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  background-color: transparent;
}

.status__content,
.reply-indicator__content {
  a.unhandled-link {
    color: lighten($ui-highlight-color, 8%);
  }

  a {
    &.unhandled-link {
      color: lighten($ui-highlight-color, 8%);
    }
  }
}

.status__content__read-more-button {
  color: lighten($ui-highlight-color, 8%);
}

.floating-action-button {
  background: darken($ui-highlight-color, 3%);

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-highlight-color, 7%);
  }
}

.column-link {
  &--transparent {
    &.active {
      color: $ui-highlight-color;
    }
  }
}

.timeline-hint {
  a {
    color: lighten($ui-highlight-color, 8%);

    &:hover,
    &:focus,
    &:active {
      color: lighten($ui-highlight-color, 12%);
    }
  }
}

.radio-button {
  &__input {
    &.checked {
      border-color: lighten($ui-highlight-color, 8%);
      background: lighten($ui-highlight-color, 8%);
    }
  }
}

.columns-area--mobile {
  background: lighten($ui-base-color, 13%);
}

.compose-form {
  &__highlightable {
    border: 1px solid darken($simple-background-color, 8%);
    background: darken($simple-background-color, 8%);

    &.active {
      border-color: $ui-highlight-color;
    }
  }

  .spoiler-input {
    .autosuggest-input {
      border-bottom: 1px solid darken($simple-background-color, 8%);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $inverted-text-color;
    background: $simple-background-color;
  }
}

.character-counter {
  color: $lighter-text-color;
}

.drawer__inner {
  background: $ui-base-color;
}

.drawer__inner__mastodon {
  background: $ui-base-color;
}

.upload-progress {
  color: $lighter-text-color;
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  background: $simple-background-color;
}

.privacy-dropdown__option {
  color: $inverted-text-color;

  &:hover,
  &:active {
    background: $ui-secondary-color;
  }
}

.privacy-dropdown__option__content {
  color: $lighter-text-color;

  strong {
    color: $inverted-text-color;
  }
}

.language-dropdown {
  &__dropdown {
    .emoji-mart-search {
      background: inherit;

      input {
        background: inherit;
        border: inherit;
        color: inherit;
      }
    }

    .emoji-mart-scroll {
      background: inherit;
    }

    &__results {
      &__item {
        color: inherit;

        &:active,
        &:hover {
          background: $ui-secondary-color;
        }
      }
    }
  }
}

// dashboard.scss
.dashboard {
  &__quick-access {
    background: $ui-highlight-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 10%);
    }
  }
}

// emoji_picker.scss
.emoji-mart-bar {
  border: 0 solid darken($ui-secondary-color, 8%);

  &:first-child {
    background: $ui-secondary-color;
  }
}

.emoji-mart-anchor {
  color: $lighter-text-color;

  &:hover {
    color: darken($lighter-text-color, 4%);
  }
}

.emoji-mart-anchor-selected {
  &:hover {
    color: darken($highlight-text-color, 4%);
  }
}

.emoji-mart-scroll {
  background: $simple-background-color;
}

.emoji-mart-search {
  background: $simple-background-color;

  input {
    background: rgba($ui-secondary-color, 0.3);
    color: $inverted-text-color;
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $action-button-color;
  }
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover::before {
    background-color: rgba($ui-secondary-color, 0.7);
  }
}

.emoji-mart-category-label {
  span {
    background: $simple-background-color;
  }
}

.emoji-mart-no-results {
  color: $light-text-color;
}

// forms.scss
.simple_form {
  button,
  .button,
  .block-button {
    background: $ui-highlight-color;

    &:hover {
      background-color: lighten($ui-highlight-color, 5%);
    }

    &:active,
    &:focus {
      background-color: darken($ui-highlight-color, 5%);
    }
  }
}

// polls.scss
.poll {
  &__option {
    input[type='text'] {
      color: $inverted-text-color;
      background: $simple-background-color;
      border: 1px solid darken($simple-background-color, 14%);

      &:focus {
        border-color: $highlight-text-color;
      }
    }
  }
}
