@use 'sass:color';
@use '../mastodon/functions' as *;

// Dependent colors
$black: #000000;
$white: #ffffff;
$blurple-500: #6364ff; // Brand purple
$blurple-300: #858afa; // Faded Blue
$grey-600: #4e4c5a; // Trout
$grey-100: #dadaf3; // Topaz
$success-green: #79bd9a;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;

// Differences
$ui-highlight-color: #2b90d9;

@use '../mastodon/variables' with (
  $classic-highlight-color: #2b90d9,
  $base-overlay-background: $classic-base-color,
  $ui-base-color: $classic-base-color,
  $highlight-text-color: $ui-highlight-color,

  $ui-button-background-color: $ui-highlight-color,

  $ui-button-disabled-color: color.adjust(
    $ui-highlight-color,
    $alpha: -0.3
  ),

  $ui-button-secondary-color: $grey-100,
  $ui-button-secondary-border-color: $grey-100,
  $ui-button-secondary-focus-background-color: $grey-600,
  $ui-button-secondary-focus-color: $white
);
