// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.
@use 'sass:color';
@use '../mastodon/functions' as *;
@use '../mastodon/variables' as *;

// admin.scss
.admin-account-bio {
  a {
    color: $highlight-text-color;
  }
}

// components.scss
.button {
  background-color: $ui-button-background-color;

  &:active,
  &:focus,
  &:hover {
    background-color: $ui-button-focus-background-color;
  }

  &.button-secondary {
    color: $highlight-text-color;
    border: 1px solid $highlight-text-color;

    &:active,
    &:focus,
    &:hover {
      border-color: lighten($highlight-text-color, 4%);
      color: lighten($highlight-text-color, 4%);
      background-color: transparent;
    }
  }
}

.button .confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  background-color: transparent;
}

.autosuggest-textarea {
  &__suggestions {
    background: $ui-base-color;
    border: 1px solid var(--background-border-color);
    color: $secondary-text-color;

    &__item {
      color: $secondary-text-color;

      &:hover,
      &:focus,
      &:active {
        background: var(--dropdown-border-color);
        color: $primary-text-color;

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }

      &.selected {
        background: $ui-highlight-color;
        color: $ui-button-color;

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }
    }
  }
}

.autosuggest-account {
  .display-name__account {
    color: $ui-primary-color;
  }
}

.status__content,
.reply-indicator__content {
  a.unhandled-link {
    color: $highlight-text-color;
  }

  a {
    &.unhandled-link {
      color: $highlight-text-color;
    }
  }
}

.status__content__read-more-button {
  color: $highlight-text-color;
}

.focusable {
  &:focus {
    background: rgba($ui-highlight-color, 0.05);
  }
}

.status__wrapper-direct,
.notification-ungrouped--direct,
.notification-group--direct,
.notification-group--annual-report {
  background: rgba($ui-highlight-color, 0.05);

  &:focus {
    background: rgba($ui-highlight-color, 0.05);
  }
}

.detailed-status {
  background: inherit;
}

.detailed-status__action-bar {
  background: inherit;
}

.tabs-bar__wrapper {
  background: var(--background-color);
}

.column {
  > .scrollable {
    background: inherit;
    border: 1px solid var(--background-border-color);

    &.about,
    &.privacy-policy {
      border-top: 1px solid var(--background-border-color);
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  .columns-area__panels__pane--navigational {
    .navigation-panel {
      background: inherit;
    }
  }

  .layout-single-column {
    .ui__header {
      background: var(--background-color);
    }
  }
}

.drawer__header {
  background: inherit;
  border: 1px solid var(--background-border-color);

  a:hover,
  a:focus,
  a:active {
    background: inherit;
    color: $primary-text-color;
  }
}

.drawer__pager {
  border: 1px solid var(--background-border-color);
}

.column-back-button {
  background: transparent;
}

.column-header__back-button {
  background: transparent;
}


.column-link {
  background: transparent;
  color: $secondary-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $primary-text-color;
  }

  &.active {
    color: $highlight-text-color;
  }

  &--transparent {
    background: inherit;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
      background: inherit;
      color: inherit;
    }

    &.active {
      color: inherit;
    }
  }
}

.column-subheading {
  background: var(--surface-background-color);
  color: $darker-text-color;
}

.timeline-hint {
  a {
    color: $highlight-text-color;

    &:hover,
    &:focus,
    &:active {
      color: lighten($highlight-text-color, 4%);
    }
  }
}

.regeneration-indicator {
  background: inherit;
  color: $darker-text-color;
}

.column-header {
  background: inherit;
  border: 1px solid var(--background-border-color);
}

.column-header__button {
  background: transparent;

  &.active {
    background: inherit;
  }
}

.column-header__collapsible-inner {
  background: inherit;
}

.account--panel {
  background: inherit;
}

.empty-column-indicator,
.follow_requests-unlocked_explanation {
  background: inherit;
}

.follow_requests-unlocked_explanation {
  background: var(--surface-background-color);
}

.error-column {
  background: inherit;
}

.emoji-picker-dropdown__menu {
  background: var(--dropdown-background-color);
}

.column-inline-form {
  background: inherit;
  border: 1px solid var(--background-border-color);
  border-top: 0;
}

.radio-button,
.check-box {
  &__input {
    &.checked,
    &.indeterminate {
      border-color: $ui-highlight-color;
    }
  }
}

.radio-button.checked::before {
  background: $ui-highlight-color;
}

.check-box {
  &__input {
    &.checked,
    &.indeterminate {
      background: $ui-highlight-color;
      color: $white;
    }
  }
}

.compose-form {
  &__highlightable {
    border: 1px solid var(--background-border-color);
    background: $ui-base-color;

    &.active {
      border-color: $ui-highlight-color;
    }
  }

  .spoiler-input {
    .autosuggest-input {
      border-bottom: 1px solid var(--background-border-color);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $secondary-text-color;
    background: $ui-base-color;
  }

  .spoiler-input__input {
    background: color.mix($ui-base-color, $ui-highlight-color, 85%);
    color: $highlight-text-color;
  }
}

.character-counter {
  color: $darker-text-color;
}

.drawer__inner {
  background: var(--background-color);
}

.drawer__inner__mastodon {
  background: var(--background-color)
}

.upload-progress {
  color: $darker-text-color;
}

.upload-progress__backdrop {
  background: var(--background-color);
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  background: var(--dropdown-background-color);
}

.privacy-dropdown__option {
  color: $primary-text-color;

  &:hover,
  &:active {
    background: var(--dropdown-border-color);
  }

  &:focus,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;
  }
}

.privacy-dropdown__option__content {
  color: $darker-text-color;

  strong {
    color: $primary-text-color;
  }
}

.language-dropdown {
  &__dropdown {
    .emoji-mart-search {
      background: var(--dropdown-background-color);

      input {
        background: $ui-base-color;
        border: 1px solid var(--background-border-color);
        color: $darker-text-color;
      }
    }

    .emoji-mart-scroll {
      background: var(--dropdown-background-color);
    }

    &__results {
      &__item {
        color: $primary-text-color;

        &:active,
        &:hover {
          background: var(--dropdown-border-color);
        }
      }
    }
  }
}

.dialog-modal__content__preview {
  background: #000;
}

.search-results__section {
  &__header {
    background: var(--surface-background-color);
  }
}

.notification__filter-bar,
.account__section-headline {
  background: inherit;
  border: 1px solid var(--background-border-color);
  border-top: 0;
}

.filter-form {
  background: inherit;
  border-bottom: 1px solid var(--background-border-color);
}

.account__header {
  &__bio {
    .account__header__fields {
      background: inherit;
      border: 1px solid var(--background-border-color);
    }
  }
}

.about {
  &__meta {
    background: inherit;
    border: 1px solid var(--background-border-color);
  }

  &__section {
    &__title {
      background: inherit;
      border: 1px solid var(--background-border-color);
    }

    &__body {
      border: 1px solid var(--background-border-color);
    }
  }

  &__domain-blocks {
    background: inherit;
    border: 1px solid var(--background-border-color);
  }

  &__domain {
    border-bottom: 1px solid var(--background-border-color);

    &:nth-child(2n) {
      background: darken($ui-base-color, 4%);
    }
  }
}

.report-dialog-modal {
  background: var(--background-color);
  color: $primary-text-color;
  border-radius: 4px;
  border: 1px solid var(--background-border-color);

  &__container {
    border-top: 1px solid var(--background-border-color);
  }

  &__lead {
    color: $secondary-text-color;
  }

  .status__content,
  .status__content p {
    color: $primary-text-color;
  }

  .poll__option.dialog-option {
    border-bottom: 1px solid var(--background-border-color);
  }

  & > .poll__option__text {
    color: $secondary-text-color;

    strong {
      color: $primary-text-color;
    }
  }

  &__textarea {
    color: $primary-text-color;
    background: $ui-base-color;
    border: 1px solid var(--background-border-color);

    &::placeholder {
      color: inherit;
    }
  }

  .button.button-secondary {
    border-color: $ui-button-destructive-background-color;
    color: $ui-button-destructive-background-color;

    &:hover,
    &:focus,
    &:active {
      background: $ui-button-destructive-background-color;
      border-color: $ui-button-destructive-background-color;
      color: $white;
    }
  }
}

.radio-button__input.checked::before {
  background: $ui-highlight-color;
}

.video-player {
  &__volume {
    &__current {
      background: $white;
    }

    &__handle {
      background: $white;
    }
  }

  &__seek {
    &__progress,
    &__buffer {
      background: $white;
    }

    &__handle {
      background: $white;
    }
  }
}

.audio-player {
  background: var(--player-background-color, var(--background-color));
  color: var(--player-foreground-color);
}

// dashboard.scss
.dashboard {
  &__quick-access {
    background: $ui-button-background-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-focus-background-color;
    }
  }
}

// emoji_picker.scss
.emoji-mart-bar {
  border: 0 solid var(--dropdown-border-color);

  &:first-child {
    background: var(--dropdown-border-color);
  }
}

.emoji-mart-anchor {
  color: $darker-text-color;

  &:hover {
    color: lighten($darker-text-color, 4%);
  }
}

.emoji-mart-anchor-selected {
  &:hover {
    color: lighten($highlight-text-color, 4%);
  }
}

.emoji-mart-anchor-bar {
  background-color: $highlight-text-color;
}

.emoji-mart-scroll {
  background: var(--dropdown-background-color);
}

.emoji-mart-search {
  background: var(--dropdown-background-color);

  input {
    background: $ui-base-color;
    color: $darker-text-color;
    border: 1px solid var(--background-border-color);
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $darker-text-color;
  }
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover::before {
    background-color: var(--dropdown-border-color);
  }
}

.emoji-mart-category-label {
  span {
    background: var(--dropdown-background-color);
    color: inherit;
  }
}

.emoji-mart-no-results {
  color: $dark-text-color;
}

// forms.scss
.simple_form {
  button:not(.button, .link-button) {
    background: $ui-button-background-color;
    color: $ui-button-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-focus-background-color;
    }
  }
}

// polls.scss
.poll {
  &__option {
    input[type='text'] {
      color: $secondary-text-color;
      background: $ui-base-color;
      border: 1px solid $darker-text-color;

      &:focus {
        border-color: $ui-highlight-color;
      }
    }
  }

  &__input {
    &:active,
    &:focus,
    &:hover {
      border-color: lighten($valid-value-color, 15%);
    }

    &.active {
      background-color: $valid-value-color;
      border-color: $valid-value-color;
    }

    &.disabled {
      border-color: $dark-text-color;

      &.active {
        background: $dark-text-color;
      }

      &:active,
      &:focus,
      &:hover {
        border-color: $dark-text-color;
      }
    }
  }

  &__option.editable &__input {
    &:active,
    &:focus,
    &:hover {
      border-color: $ui-primary-color;
      border-width: 1px;
    }
  }
}
