// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.

// admin.scss
.admin-account-bio {
  a {
    color: $highlight-text-color;
  }
}

// components.scss
.button {
  background-color: $ui-button-background-color;

  &:active,
  &:focus,
  &:hover {
    background-color: $ui-button-focus-background-color;
  }
}

.button .confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  background-color: transparent;
}

.status__content,
.reply-indicator__content {
  a.unhandled-link {
    color: $highlight-text-color;
  }

  a {
    &.unhandled-link {
      color: $highlight-text-color;
    }
  }
}

.status__content__read-more-button {
  color: $highlight-text-color;
}

.column-link {
  &--transparent {
    &.active {
      color: $highlight-text-color;
    }
  }
}

.timeline-hint {
  a {
    color: $highlight-text-color;

    &:hover,
    &:focus,
    &:active {
      color: lighten($highlight-text-color, 4%);
    }
  }
}

.radio-button {
  &__input {
    &.checked {
      border-color: lighten($ui-highlight-color, 4%);
      background: lighten($ui-highlight-color, 4%);
    }
  }
}

.compose-form {
  &__highlightable {
    border: 1px solid lighten($ui-base-color, 8%);
    background: $ui-base-color;

    &.active {
      border-color: $ui-highlight-color;
    }
  }

  .spoiler-input {
    .autosuggest-input {
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $secondary-text-color;
    background: $ui-base-color;
  }

  .spoiler-input__input {
    background: mix($ui-base-color, $ui-highlight-color, 85%);
    color: $highlight-text-color;
  }

  &__poll {
    .poll__input {
      border-color: $darker-text-color;
    }

    &__footer {
      &__sep {
        background: lighten($ui-base-color, 8%);
      }
    }

    &__select {
      &__label {
        color: $darker-text-color;
      }

      &__value {
        color: $highlight-text-color;
      }
    }
  }
}

.character-counter {
  color: $darker-text-color;
}

.drawer__inner {
  background: darken($ui-base-color, 4%);
}

.drawer__inner__mastodon {
  background: darken($ui-base-color, 4%);
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  background: var(--dropdown-background-color);
}

.privacy-dropdown__option {
  color: $primary-text-color;

  &:hover,
  &:active {
    background: var(--dropdown-border-color);
  }

  &:focus,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;

    .privacy-dropdown__option__content,
    .privacy-dropdown__option__content strong,
    .privacy-dropdown__option__additional {
      color: $primary-text-color;
    }
  }
}

.privacy-dropdown__option__content {
  color: $darker-text-color;

  strong {
    color: $primary-text-color;
  }
}

.language-dropdown {
  &__dropdown {
    .emoji-mart-search {
      background: var(--dropdown-background-color);

      input {
        background: $ui-base-color;
        border: 1px solid lighten($ui-base-color, 8%);
        color: $darker-text-color;
      }
    }

    .emoji-mart-search-icon {
      color: $darker-text-color;
    }

    .emoji-mart-scroll {
      background: var(--dropdown-background-color);
    }

    &__results {
      &__item {
        color: $primary-text-color;

        &__common-name {
          color: $darker-text-color;
        }

        &:active,
        &:hover {
          background: var(--dropdown-border-color);
        }

        &:focus,
        &.active {
          background: $ui-highlight-color;
          color: $primary-text-color;

          .language-dropdown__dropdown__results__item__common-name {
            color: $primary-text-color;
          }
        }
      }
    }
  }
}

.report-dialog-modal {
  .dialog-option .poll__input {
    border-color: $inverted-text-color;
    color: $ui-secondary-color;
  }

  .poll__option.dialog-option {
    & > .poll__option__text {
      color: lighten($inverted-text-color, 16%);

      strong {
        color: $inverted-text-color;
      }
    }
  }
}

// dashboard.scss
.dashboard {
  &__quick-access {
    background: $ui-button-background-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-focus-background-color;
    }
  }
}

// emoji_picker.scss
.emoji-mart-bar {
  border: 0 solid var(--dropdown-border-color);

  &:first-child {
    background: var(--dropdown-border-color);
  }
}

.emoji-mart-anchor {
  color: $darker-text-color;

  &:hover {
    color: lighten($darker-text-color, 4%);
  }
}

.emoji-mart-anchor-selected {
  &:hover {
    color: lighten($highlight-text-color, 4%);
  }
}

.emoji-mart-anchor-bar {
  background-color: $highlight-text-color;
}

.emoji-mart-scroll {
  background: var(--dropdown-background-color);
}

.emoji-mart-search {
  background: var(--dropdown-background-color);

  input {
    background: $ui-base-color;
    color: $darker-text-color;
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $darker-text-color;
  }
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover::before {
    background-color: var(--dropdown-border-color);
  }
}

.emoji-mart-category-label {
  span {
    background: var(--dropdown-background-color);
  }
}

.emoji-mart-no-results {
  color: $dark-text-color;
}

// forms.scss
.simple_form {
  button,
  .button,
  .block-button {
    background: $ui-button-background-color;
    color: $ui-button-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-focus-background-color;
    }
  }
}

// polls.scss
.poll {
  &__option {
    input[type='text'] {
      color: $secondary-text-color;
      background: $ui-base-color;
      border: 1px solid $darker-text-color;

      &:focus {
        border-color: $ui-highlight-color;
      }
    }
  }

  &__input {
    &:active,
    &:focus,
    &:hover {
      border-color: lighten($valid-value-color, 15%);
    }

    &.active {
      background-color: $valid-value-color;
      border-color: $valid-value-color;
    }

    &.disabled {
      border-color: $dark-text-color;

      &.active {
        background: $dark-text-color;
      }

      &:active,
      &:focus,
      &:hover {
        border-color: $dark-text-color;
      }
    }
  }

  &__option.editable &__input {
    &:active,
    &:focus,
    &:hover {
      border-color: $ui-primary-color;
      border-width: 1px;
    }
  }
}
