// Dependent colors
$black: #000000;
$white: #ffffff;
$success-green: #79bd9a;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;

// Differences
$classic-highlight-color: #6364ff;
$ui-highlight-color: $classic-highlight-color !default;
$highlight-text-color: lighten($ui-highlight-color, 8%) !default;
