@use 'sass:color';
@use '../mastodon/functions' as *;

// Dependent colors
$black: #000000;
$white: #ffffff;
$blurple-500: #6364ff; // Brand purple
$blurple-300: #858afa; // Faded Blue
$success-green: #79bd9a;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;

// Differences
$classic-highlight-color: #6364ff;

@use '../mastodon/variables' with (
  $base-overlay-background: $black,
  $ui-base-color: $classic-base-color,
  $ui-highlight-color: $classic-highlight-color,
  $highlight-text-color: $classic-highlight-color,

  $ui-button-secondary-color: $blurple-500,
  $ui-button-secondary-border-color: $blurple-500,
  $ui-button-secondary-focus-color: $blurple-300
);
