@use 'sass:color';
@use '../mastodon/variables' as *;
@use 'variables' as *;
@use '../mastodon/functions' as *;

body {
  --dropdown-border-color: #d9e1e8;
  --dropdown-background-color: #fff;
  --background-border-color: #d9e1e8;
  --background-color: #fff;
  --background-color-tint: rgba(255, 255, 255, 80%);
  --background-filter: blur(10px);
}
