.navigation-panel__publish {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9375rem;
  height: 3.9375rem;
  bottom: calc(env(safe-area-inset-bottom) + 1.3125rem + 48px);
  right: 1.3125rem;
  background: darken($ui-highlight-color, 3%);
  color: $white;
  border-radius: 50%;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  box-shadow: 2px 3px 9px rgba($base-shadow-color, 0.4);

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-highlight-color, 7%);
  }
}

